<div class="panel panel-default" ng-show="true">
	<div ng-cloak class="errmsg">
		<div ng-show="spinnerShow" class="pull-left"> <img src="app/img/spinner.gif" style="width:25px;height:25px;" /><span style="color:#04F2FC;font-size:18px;"> Please wait...</span> </div>
	</div>
	<div class="panel-heading" style="color:#AA0001">
		<h3>Export Bill Of Lading List</h3></div>
	<div class="panel-body" style="overflow-y: scroll;">
		<div class="row">
			<div class="col-lg-6 col-md-6 col-sm-62">
				<div class="demo">
					<h4>Select Start and End date</h4>
					<input type="text" id="config-demo" class="form-control">
					<i class="glyphicon glyphicon-calendar fa fa-calendar"></i>
				</div>


				<form>
					<div class="row divspace">
						<div class="col-md-4 hidediv">
							<div class="form-group">
								<label for="startDate" value="testesates">startDate</label>
								<input type="text" class="form-control" id="startDate" value="07/01/2015">
							</div>
							<div class="form-group">
								<label for="endDate">endDate</label>
								<input type="text" class="form-control" id="endDate" value="07/15/2015">
							</div>
						</div>

						<div class="col-md-4 hidediv">
							<div class="checkbox">
								<label>
											<input type="checkbox" id="ranges" checked="checked"> ranges (with example predefined ranges)
										</label>
							</div>
							<div class="checkbox">
								<label>
											<input type="checkbox" id="autoUpdateInput" checked="checked"> autoUpdateInput
										</label>
							</div>
							<div class="checkbox">
								<label>
											<input type="checkbox" id="alwaysShowCalendars" checked="checked"> alwaysShowCalendars
										</label>
							</div>
						</div>
					</div>
				</form>

			</div>



			<div class="col-lg-6 col-md-6 col-sm-62">



				<div class="demo">
					<h4>Select driver</h4>
				</div>
				<ui-select name="accountNo" ng-model="driverName" on-select="BOL_list_table($item)">
					<ui-select-match placeholder="Filter By driver">{{$select.selected}} </ui-select-match>
					<ui-select-choices repeat="driver in driverList ">
						<div ng-bind-html="driver | highlight: $select.search"></div>
					</ui-select-choices>
				</ui-select>
			</div>
		</div>



		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12">
				<div class="table-responsive">

               <button export-to-csv>Download</button>
					<table show-filter="true" class="table">
						<thead>
							<tr>
								<th>
									customerName
								</th>
								<th>
									customerNumber
								</th>
								<th>
									formType
								</th>
								<th>
									bioMediContainerQty
								</th>
								<th>
									pickupService
								</th>
								<th>
									stopByService
								</th>
								<th>
									pathoWasteContainerQty
								</th>
								<th>
									traceChemoContainerQty
								</th>
								<th>
									comment
								</th>
								<th>
									cabinetDeliveryKey
								</th>
								<th>
									cleanoutOther
								</th>
								<th>
									bankerBox
								</th>
								<th>
									legalBox
								</th>
								<th>
									other1ContainerQty
								</th>
								<th>
									other2ContainerQty
								</th>
								<th>
									other3ContainerQty
								</th>
								<th>
									customerEmail
								</th>
								<th>
									driverName
								</th>
								<th>
									bolNo
								</th>
								<th>
									monthlyBill
								</th>
								<th>
									id
								</th>
								<th>
									approved
								</th>
								<th>
									approvedDate
								</th>
								<th>
									approverName
								</th>
								<th>
									assignmentId
								</th>
								<th>
									bioMediWtInPounds
								</th>
								<th>
									customerAddress
								</th>
								<th>
									customerCity
								</th>
								<th>
									customerPhone
								</th>
								<th>
									customerState
								</th>
								<th>
									customerZip
								</th>
								<th>
									driverId
								</th>
								<th>
									mailSentDate
								</th>
								<th>
									other1Item
								</th>
								<th>
									other1WtInPounds
								</th>
								<th>
									other2Item
								</th>
								<th>
									other2WtInPounds
								</th>
								<th>
									other3Item
								</th>
								<th>
									other3WtInPounds
								</th>
								<th>
									pathoWasteWtInPounds
								</th>
								<th>
									receivFaciSignDate
								</th>
								<th>
									route
								</th>
								<th>
									shipperSignDate
								</th>
								<th>
									traceChemoWtInPounds
								</th>
								<th>
									transporterSignDate
								</th>
							</tr>

						</thead>
						<tr ng-repeat="bol_list in bol_list_table | orderBy:orderProperty">
							<td>
								{{bol_list.customerName}}
							</td>
							<td>
								{{ bol_list.customerNumber }}
							</td>
							<td>
								{{ bol_list.formType==1?'Medical':'Document' }}
							</td>
							<td>
								{{ bol_list.bioMediContainerQty }}
							</td>
							<td>
								{{ bol_list.pickupService }}
							</td>
							<td>
								{{ bol_list.stopByService }}
							</td>
							<td>
								{{ bol_list.pathoWasteContainerQty }}
							</td>
							<td>
								{{ bol_list.traceChemoContainerQty }}
							</td>
							<td>
								{{ bol_list.comment }}
							</td>
							<td>
								{{ bol_list.cabinetDeliveryKey }}
							</td>
							<td>
								{{ bol_list.cleanoutOther }}
							</td>
							<td>
								{{ bol_list.bankerBox }}
							</td>
							<td>
								{{ bol_list.legalBox }}
							</td>
							<td>
								{{ bol_list.other1ContainerQty }}
							</td>
							<td>
								{{ bol_list.other2ContainerQty }}
							</td>
							<td>
								{{ bol_list.other3ContainerQty }}
							</td>
							<td>
								{{ bol_list.customerEmail }}
							</td>
							<td>
								{{ bol_list.driverName }}
							</td>
							<td>
								{{ bol_list.bolNo }}
							</td>
							<td>
								{{ bol_list.monthlyBill }}
							</td>
							<td>
								{{ bol_list.id }}
							</td>
							<td>
								{{ bol_list.approved }}
							</td>
							<td>
								{{ bol_list.approvedDate | date:'MM/dd/yyyy H:m:s' }}
							</td>
							<td>
								{{ bol_list.approverName }}
							</td>
							<td>
								{{ bol_list.assignmentId }}
							</td>
							<td>
								{{ bol_list.bioMediWtInPounds }}
							</td>
							<td>
								{{ bol_list.customerAddress }}
							</td>
							<td>
								{{ bol_list.customerCity }}
							</td>
							<td>
								{{ bol_list.customerPhone }}
							</td>
							<td>
								{{ bol_list.customerState }}
							</td>
							<td>
								{{ bol_list.customerZip }}
							</td>
							<td>
								{{ bol_list.driverId }}
							</td>
							<td>
								{{ bol_list.mailSentDate | date:'MM/dd/yyyy H:m:s'  }}
							</td>
							<td>
								{{ bol_list.other1Item }}
							</td>
							<td>
								{{ bol_list.other1WtInPounds }}
							</td>
							<td>
								{{ bol_list.other2Item }}
							</td>
							<td>
								{{ bol_list.other2WtInPounds }}
							</td>
							<td>
								{{ bol_list.other3Item }}
							</td>
							<td>
								{{ bol_list.other3WtInPounds }}
							</td>
							<td>
								{{ bol_list.pathoWasteWtInPounds }}
							</td>
							<td>
								{{ bol_list.receivFaciSignDate | date:'MM/dd/yyyy H:m:s' }}
							</td>
							<td>
								{{ bol_list.route }}
							</td>
							<td>
									{{ bol_list.shipperSignDate | date:'MM/dd/yyyy H:m:s'}}
							</td>
							<td>
								{{ bol_list.traceChemoWtInPounds }}
							</td>
							<td>
								{{ bol_list.transporterSignDate | date:'MM/dd/yyyy H:m:s'}}
							</td>
						</tr>
					</table>
				</div>
				</div>
				<div class="alert alert-success" role="alert" ng-show="totalItems<1">
					<strong>No record found</strong>
				</div>
			</div>
		</div>

		<link rel="stylesheet" type="text/css" media="all" href="master/css/reconcile.css" />
		<link rel="stylesheet" type="text/css" media="all" href="master/css/daterangepicker.css" />
		<script type="text/javascript" src="master/js/moment.js"></script>
		<script type="text/javascript" src="master/js/daterangepicker.js"></script>
