

<div class="panel panel-default">
	<div class="errmsg">
	        <div  class="alert alert-danger errGET" ng-show="failShowGet">
	          <strong>Sorry! We couldn't connect with the backend server</strong>
	        </div>
					<div  class="alert alert-success errGET" role="alert" ng-show="successShow">
	          <strong>Record added successfully</strong>
	        </div>
					<div  class="alert alert-success errGET" role="alert" ng-show="uptsuccessShow">
						<strong>Record saved successfully</strong>
					</div>
	</div>

	<div class="panel-heading" ><h2>Order Form</h2></div>
	<div class="panel-body">

<form name="orderform" class="form-horizontal" role="form" method="get" action="#" >

<table class="table ng-table">
	<thead>
		<tr>
			<th>Customer Name</th>
			<!--<th>Driver Name</th>-->
			<th>Site Name</th>
			<th>Container Size</th>
			<!--<th>Container Size</th>-->
			<th>Schedule Date</th>
			<th>Service Type</th>
			<th>Instruction</th>

		</tr>
	</thead>
	<tbody>
		<tr>

			<td><ui-select name="cusname"  ng-model="addorderinfo.selectedcustomer" on-select="getselectval($item)" required>
				<ui-select-match placeholder="Select Customers">{{$select.selected.name}}</ui-select-match>
				<ui-select-choices repeat="customer.id as customer in customers | propsFilter: {name: $select.search}">
				<div ng-bind-html="customer.name | highlight: $select.search"></div>
				</ui-select-choices>
				</ui-select>
			</td>
			<td><ui-select  name="stname" ng-model="addorderinfo.selectedsite" on-select="getsiteId($item)" required>
				<ui-select-match placeholder="Select Sites">{{$select.selected.name}} {{$select.selected.city}} {{$select.selected.street}}</ui-select-match>
				<ui-select-choices repeat="site.id as site in sitedata ">
				<div ng-bind-html="site.name +''+ site.street +''+site.city | highlight: $select.search"></div>
				</ui-select-choices>
				</ui-select>
			</td>


			<td><select   name="size"   data-ng-init="addorderinfo.selectedSize = containersize[1]" data-ng-model="addorderinfo.selectedSize" data-ng-change="getcontainerId()" class="form-control input-sm" data-ng-options="containersize.size for containersize in containersize" required ></select>

			</td>
				<input type="hidden" ng-model="addorderinfo.containerSizeId" />
			<!--<td><input name="size"  ng-model="addorderinfo.size" class="form-control input-sm" required /></td>					-->
			<td>
				<!--<input name="date" type="datetime-local"  min="{{addorderinfo.minDate}}" ng-model="addorderinfo.scheduleDate"   class="form-control input-sm" required />-->

				<input type="text" class="form-control" min-date="minval" ng-model="addorderinfo.scheduleDate" datepicker-popup="{{format}}" is-open="openedAdd" ng-focus="openAdd($event)" ng-click="openAdd($event)"  ng-required="true" close-text="Close"></input>

				<input name="date" type="datetime-local"  min="{{addorderinfo.minDate}}" ng-model="addorderinfo.orderDate" style="visibility:hidden"  class="form-control input-sm" required />
			</td>
			<!--<td><input name="servicetype"  ng-model="addorderinfo.SERVICE_TYPE" class="form-control input-sm" required /></td>-->
			<td><select name="servicetype"  ng-init="addorderinfo.selectedService = serviceList[2]" ng-change="getservice()" ng-model="addorderinfo.selectedService" ng-options="serviceName.state for serviceName in serviceList" required></select></td>
			<td><input name="instruction" ng-model="addorderinfo.INSTRUCTION" class="form-control input-sm" /></td>
			<td>
				<span class="btn btn-primary btn-lg">
				<i class="fa fa-plus"></i><input type="button" ng-click="addDialog()" class="ordbtn" value="Add orders" />
				</span>
			</td>

		</tr>
		<!--<tr><td colspan="5"><h3><div class="label label-success err"  ng-show="successShow" >Form added successfully</div><div class="label label-danger err"  ng-show="failShow" >Form added Failed</div></h3></td></tr>
		<tr>-->
		<td><span ng-show="orderform.cusname.$dirty &amp;&amp; orderform.cusname.$error.required" class="text-danger">* This field is required</span></td>
		<td><span ng-show="orderform.stname.$dirty &amp;&amp; orderform.stname.$error.required" class="text-danger">* This field is required</span></td>
		<td><span ng-show="orderform.size.$dirty &amp;&amp; orderform.size.$error.required" class="text-danger">* This field is required</span></td>
		<td><span ng-show="orderform.date.$dirty &amp;&amp; orderform.date.$error.required" class="text-danger">* This field is required</span></td>
		<td><span ng-show="orderform.servicetype.$dirty &amp;&amp; orderform.servicetype.$error.required" class="text-danger">* This field is required</span></td>
		<td><span ng-show="orderform.instruction.$dirty &amp;&amp; orderform.instruction.$error.required" class="text-danger">* This field is required</span></td>
		</tr>
	</tbody>
</table>
</form>
</div>
</div>




<div class="panel panel-default">
	<div class="panel-heading"><h2>Order History</h2></div>
	<div class="panel-body">
		<!-- Date rangePicker -->
		<div class="divwidth"  >
						<div  >
							<div class="demo" >
								<h4>Select Start and End date</h4>
								<input type="text" id="config-demo" class="form-control">
								<i class="glyphicon glyphicon-calendar fa fa-calendar"></i>
							</div>
						</div>

							<form>
							<div class="row divspace">
								<div class="col-md-4 hidediv" >
									<div class="form-group">
										<label for="startDate">startDate</label>
										<input type="text" class="form-control" id="startDate" value="07/01/2015">
									</div>
									<div class="form-group">
										<label for="endDate">endDate</label>
										<input type="text" class="form-control" id="endDate" value="07/15/2015">
									</div>
								</div>

								<div class="col-md-4 hidediv" >
									<div class="checkbox">
										<label>
											<input type="checkbox" id="ranges" checked="checked"> ranges (with example predefined ranges)
										</label>
									</div>
									<div class="checkbox">
										<label>
											<input type="checkbox" id="autoUpdateInput" checked="checked"> autoUpdateInput
										</label>
									</div>
									<div class="checkbox">
										<label>
											<input type="checkbox" id="alwaysShowCalendars" checked="checked"> alwaysShowCalendars
										</label>
									</div>
								</div>
							</div>
							</form>
		</div>
		<!-- Date rangePicker ends -->
<div id="scrollable-area">
<table ng-table="tableParams"  show-filter="true" class="table">
    <tr ng-repeat="user in loggedUser | filter:{INTERNAL_ORDERID : null}"  ng-hide="user.SERVICE_TYPE == 'Cancel' || user.SERVICE_TYPE == 'Cancel-TripCharge' || user.SERVICE_TYPE == 'iRTR'"  ng-form="user.userForm"   >

			<td  header="'ng-table/headers/checkbox.html'" ng-switch="user.isEditing" >
				<span ng-switch-default class="editable-text">
						<input type="checkbox" ng-model="checkboxes.items[user.ID]" ng-click="getcheckboxId(user,checkboxes.items[user.ID])" class="editable-input input-sm"   />
				</span>
				<div class="controls" ng-class="ID.$invalid && ID.$dirty ? 'has-error' : ''" ng-switch-when="true">
						<input type="checkbox" ng-model="checkboxes.items[user.ID]" ng-click="getcheckboxId(user)" disabled="disabled" class="editable-input input-sm" readonly  />
				</div>
			</td>

			<td width="80" data-title="'Id'" style="color:#0066CC" filter="{ 'ID': 'text' }"  ng-switch="user.isEditing">
		 				<span ng-switch-default class="editable-text">{{user.ID}}</span>
            <div class="controls" ng-class="id.$invalid && id.$dirty ? 'has-error' : ''" ng-switch-when="true">
              <input type="text" name="id" ng-model="user.orderinfo.ID" class="editable-input form-control input-sm" readonly  />
            </div>
      </td>

			<td width="170" data-title="'Customer Name'" style="color:#0066CC" ng-model="custmodel"  filter="{ 'NAME': 'text' }" ng-switch="user.isEditing">
					<!--<span ng-switch-default class="editable-text">{{user.customer.name}}</span>-->
					<span ng-switch-default class="editable-text">{{user.NAME}}</span>
            <div class="controls" ng-class="NAME.$invalid && NAME.$dirty ? 'has-error' : ''" ng-switch-when="true">
			 			<!--<select ng-model="user.orderinfo.CUSTOMER_ID"  class="form-control input-sm" data-ng-options="customer.id as customer.name for customer in customers" ></select>
			 			<input type="hidden" ng-model="eidtdcusId" />-->
						<ui-select  ng-model="user.orderinfo.CUSTOMER_ID" on-select="getcustfn($item)">
								<ui-select-match placeholder="Select Customers">{{$select.selected.name}}</ui-select-match>
								<ui-select-choices repeat="customer.id as customer in customers | propsFilter: {name: $select.search}">
								<div ng-bind-html="customer.name | highlight: $select.search"></div>
								</ui-select-choices>
						</ui-select>
						</div>
    	</td>

		<!--<td width="150" data-title="'Driver Name'" style="color:#0066CC" ng-model="custmodel"  filter="{ 'DRIVER_NAME': 'text' }" ng-switch="user.isEditing">
			<span ng-switch-default class="editable-text">{{user.DRIVER_NAME}}</span>
            <div class="controls" ng-class="DRIVER_NAME.$invalid && DRIVER_NAME.$dirty ? 'has-error' : ''" ng-switch-when="true">
			 <select ng-model="user.orderinfo.DRIVER_ID" ng-change="getdiverId(user.orderinfo.DRIVER_NAME)"  class="form-control input-sm" data-ng-options="driver.id as driver.name  for driver in drivers" ></select>
			 <input type="hidden" ng-model="driverId" />
			</div>
        </td>-->
		<td data-title="'Site Name'"  filter="{ 'SITE_NAME': 'text' }" ng-switch="user.isEditing">
			<span ng-switch-default class="editable-text">{{user.SITE_NAME + "," + user.SITE_STREET + "," + user.SITE_CITY + "," + user.SITE_POSTAL_CODE}}</span>
            <div class="controls" ng-class="SITE_NAME.$invalid && SITE_NAME.$dirty ? 'has-error' : ''" ng-switch-when="true">
			  <!--<select  ng-model="user.orderinfo.SITE_ID" ng-change="getsitenameId(user.orderinfo.SITE_NAME)"  class="form-control input-sm" data-ng-options="site.id as site.name+','+site.street+','+site.city for site in sites" ></select>
			  <input type="hidden" ng-model="snameId" />-->
				<ui-select ng-model="user.orderinfo.SITE_ID" on-select="getsitenameId($item)">
				<ui-select-match placeholder="Select Sites">{{$select.selected.name}} {{$select.selected.city}} {{$select.selected.street}}</ui-select-match>
				<ui-select-choices repeat="site.id as site in sitesEdit ">
				<div ng-bind-html="site.name +''+ site.street +''+site.city | highlight: $select.search"></div>
				</ui-select-choices>
				</ui-select>
            </div>
        </td>

		 <td width="120" data-title="'Container Size'"  filter="{ 'CONTAINER_SIZE': 'text' }" ng-switch="user.isEditing">
			<span ng-switch-default class="editable-text">{{user.CONTAINER_SIZE}}</span>
            <div class="controls" ng-class="CONTAINER_SIZE.$invalid && CONTAINER_SIZE.$dirty ? 'has-error' : ''" ng-switch-when="true">
              <!--<input type="text" name="size" ng-model="user.orderinfo.container.size" class="editable-input form-control input-sm" required   /> -->
			  <select ng-model="user.orderinfo.CONTAINER_SIZE_ID" ng-change="getcontID(user.orderinfo.CONTAINER_SIZE_ID)" class="form-control input-sm" data-ng-options="containersize.id as containersize.size  for containersize in containersize" ></select>
			  <input type="hidden" ng-model="contId" />
			<span class="text-danger" ng-show="user.submitted && user.userForm.SIZE.$error.required">* This field is required</span>
            </div>
        </td>

		<td width="170"  data-title="'Schedule Date'"  filter="{ 'SCHEDULE_DATE': 'text' }" ng-switch="user.isEditing">
			<span ng-switch-default class="editable-text">{{user.SCHEDULE_DATE | date: "MM/dd/yyyy @ h:mma"}}</span>
            <div class="controls" ng-class="scheduleDate.$invalid && scheduleDate.$dirty ? 'has-error' : ''" ng-switch-when="true">
             <!--<input type="datetime-local" name="scheduleDate" ng-model="user.orderinfo.SCHEDULE_DATE" class="editable-input form-control input-sm"  />-->
			 <input type="text" class="editable-input form-control input-sm"  ng-model="user.orderinfo.SCHEDULE_DATE" datepicker-popup="{{format}}" is-open="openedEdit" ng-focus="openEdit($event)" ng-click="openEdit($event)" close-text="Close"  ></input>
            </div>

        </td>
		<td width="140" data-title="'Service Type'"  filter="{ 'SERVICE_TYPE': 'text' }"  ng-switch="user.isEditing">
		 <span ng-switch-default class="editable-text">{{user.SERVICE_TYPE}}</span>
            <div class="controls" ng-class="SERVICE_TYPE.$invalid && SERVICE_TYPE.$dirty ? 'has-error' : ''" ng-switch-when="true">
             <!-- <input type="text" name="serviceType" ng-model="user.orderinfo.SERVICE_TYPE" class="editable-input form-control input-sm" required  />-->
			 <select name="servicetype"    ng-model="user.orderinfo.SERVICE_TYPE" ng-options="serviceName.state as serviceName.state for serviceName in serviceList" required></select>
			  <span class="text-danger" ng-show="user.submitted && user.userForm.SERVICE_TYPE.$error.required">* This field is required</span>
            </div>
        </td>
				<td width="170" data-title="'Status'"  filter="{ 'ORDER_STATUS': 'text' }" ng-switch="user.isEditing">
					<span ng-switch-default class="editable-text">{{(user.ORDER_STATUS == 'NaN' || user.ORDER_STATUS == null) ? 'Waiting for dispatch' : user.ORDER_STATUS}}</span>
								<div class="controls" ng-class="ORDER_STATUS.$invalid && ORDER_STATUS.$dirty ? 'has-error' : ''" ng-switch-when="true">
									<input type="text"  name="ORDER_STATUS" ng-model="user.orderinfo.ORDER_STATUS" class="editable-input form-control input-sm" readonly   />

								</div>
						</td>
		<td  data-title="'Instruction'"  filter="{ 'INSTRUCTION': 'text' }" ng-switch="user.isEditing">
			<span ng-switch-default class="editable-text">{{user.INSTRUCTION}}</span>
            <div class="controls" ng-class="INSTRUCTION.$invalid && INSTRUCTION.$dirty ? 'has-error' : ''" ng-switch-when="true">
              <input type="text" style="width:400px"  name="INSTRUCTION" ng-model="user.orderinfo.INSTRUCTION" class="editable-input form-control input-sm"   />
			  <span class="text-danger" ng-show="user.submitted && user.userForm.INSTRUCTION.$error.required">* This field is required</span>
            </div>
        </td>

		<td data-title="''">
			<!--<a href="" ng-click="editDialog(user)" class="btn btn-primary" id="editdlg" value="Edit" >Edit</a>
			<a class="btn btn-primary btn-sm" ng-click="saveDialog()" ng-disabled="userForm.$pristine || userForm.$invalid"><span class="fa fa-check"></span></a>
			-->
			<p class="form-group" ng-if="user.isEditing" >
				<a class="btn btn-primary btn-sm" ng-click="saveDialog()" ><span class="fa fa-check"></span></a>
				<a class="btn btn-default btn-sm" ng-click="editDialog(false)" ><span class="fa fa-remove"></span></a>
			</p>
			<p class="form-group" ng-if="!user.isEditing">
				<a class="btn btn-default btn-sm" ng-click="editDialog(true)" id="editdlg" ><span class="fa fa-pencil"></span></a>
				<a class="btn btn-danger btn-sm" ng-click="deleteDialog(user.NAME)" id="deleteDlg" ><span class="fa fa-trash"></span></a>
			</p>
		</td>

    </tr>
		<tr>
			<td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
			 <td><input type="button" class="btn btn-danger" ng-click="deleteSelectedRows()" value="Delete Selected Rows"/></td>
		</tr>
</table>
</div>
</div>
</div>

   <script type="text/ng-template" id="deleteDialogId">
      <div class="ngdialog-message">
        <h3>Delete</h3>
        <p> Are you sure want to delete the order <b>{{getorderName}}</b> ?</p>
        <button type="button" ng-click="confirm('confirm')" class="btn btn-primary mr" ng-model="delYes">Yes</button>
        <button type="button" ng-click="closeThisDialog('closeThisDialog')"  class="btn btn-default" ng-model="delNo">No</button>
      </div>
   </script>

 	<!--<script type="text/ng-template" id="ng-table/headers/checkbox.html">
        <input type="checkbox"  ng-disabled="checkboxes" ng-model="checkboxes.checked" id="select_all" cont="filter-checkbox" value="" />
  </script>-->
	<script type="text/ng-template" id="ng-table/headers/checkbox.html">
				<input type="checkbox" ng-disabled="checkboxes" ng-model="checkboxes.checked" id="select_all" name="filter-checkbox" value="" />
	</script>

<link rel="stylesheet" type="text/css" media="all"  href="master/css/orders.css" />
<link rel="stylesheet" type="text/css" media="all" href="master/css/daterangepicker.css" />
<script type="text/javascript" src="master/js/moment.js"></script>
<script type="text/javascript" src="master/js/daterangepicker.js"></script>
