<div class="abs-center wd-xl">
   <!-- START panel-->
   <div class="text-center mb-xl">
      <div class="text-lg mb-lg">Forbidden</div>
      <p class="lead m0">You didn't have permission to access/ on this server.</p>
   </div>
   <div class="input-group mb-xl">
      <input type="text" placeholder="Try with a search" class="form-control" />
      <span class="input-group-btn">
         <button type="button" class="btn btn-default">
            <em class="fa fa-search"></em>
         </button>
      </span>
   </div>
   <ul class="list-inline text-center text-sm mb-xl">
      <li><a href="" ui-sref="app.dashboard" class="text-muted">Go to App</a>
      </li>
      <li class="text-muted">|</li>
      <li><a href="" ui-sref="page.login" class="text-muted">Login</a>
      </li>
      <li class="text-muted">|</li>
      <li><a href="" ui-sref="page.register" class="text-muted">Register</a>
      </li>
   </ul>
   <div class="p-lg text-center">
      <span>&copy;</span>
      <span ng-bind="app.year"></span>
      <span>-</span>
      <span ng-bind="app.name"></span>
      <br/>
      <span ng-bind="app.description"></span>
   </div>
</div>